/* Media query for extra small devices and all devices */
@media screen and (min-width: 0) {
    .header-bar{
        padding: 2.5% 5%;
    }
    .heading-l{
        font-size: 2.5rem;
        font-weight: 600;
    }
    .heading-m{
        font-size: 2rem;
    }
    .header-content{
        max-width: 400px;
        margin: 5% 0;
    }
    header{
        border-radius: 0 0 50% 50% / 0 0 3% 3%;
    }
    .image-wrapper{
        max-width: 767px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }
    .creator-img{
        max-width: 475px;
    }
    main{
        border-radius: 0 0 50% 50% / 0 0 3% 3%;
        box-shadow: 0px 4px 3px -3px var(--davy-grey);
    }

    .creator-info{
        color: white;
        background-color: var(--dark-purple);
        width: 100%;
    }
    #bg-pattern-1{
        top: -5%;
        left: -12%;
    }
    #bg-pattern-2{
        bottom: -15%;
        right: -5%;
    }
    .trait-title{
        font-size: 1.5rem;
    }
    .creator{
        padding: 10%;
    }
    .c-title{
        font-size: 2rem;
        font-family: "Fraunces" !important;
    }
    .creator-info{
        margin-top: -15%;
    }
    .creator-info div{
        padding: 10px;
    }
    .container-fluid .row{
        padding: 10% !important;
    }
}

/* Media query for small devices and beyond */
@media screen and (min-width: 576px) {
    .header-bar{
        padding: 2.5% 15%;
    }
    .heading-l{
        font-size: 4rem;
    }
    .trait-title{
        font-size: 2.5rem;
    }
    .row{
        padding: 100px;
    }
    .creator-img{
        max-width: 300px;
        margin-left: 10%;
    }
    .c-title{
        font-size: 3rem;
    }
    .creator-pattern{
        top: 65%;
        left: 60%;
    }
    .creator-info{
        width: 60%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 992px) {
    .creator-info div{
        padding: 25px;
    }
    .creator-img{
        max-width: 350px;
    }
    
}