/* Import font families */
@font-face {
    font-family: "Fraunces";
    src: url("../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("truetype");
}

@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
}

/* Define colors */
:root{
    --dark-purple: #24053E;
    --eucaplyptus: #44FFA1;
    --davy-grey: #584D62;
    --ghost-white: #FCF8FF;
    --white: #FFFFFF; 
}

/* Normalize HTML */
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Manrope" !important;
}

/* Define background colors */
.bg-dark-purple{
    background-color: var(--dark-purple);
}

.bg-ghost-white{
    background-color: var(--ghost-white);
}


/* Define typography classes */
.heading-l, .heading-m, .heading-s{
    font-family: "Fraunces" !important; 
}

/* Define button classes*/
.primary-button, .secondary-button{
    padding: 0.75rem 1.25rem;
    border-radius: 0;
    font-weight: 700;
}

.primary-button{
    background-color: var(--eucaplyptus);
    color: var(--dark-purple); 
}

.primary-button:hover{
    background-color: inherit;
    color: var(--eucaplyptus);
    border: 1px solid var(--eucaplyptus);
}

.secondary-button{
    background-color: inherit;
    color: var(--white);
    text-decoration: underline;
    text-decoration-color: var(--eucaplyptus);
    text-decoration-thickness: 5px; 
    text-underline-offset: 0.5rem;
    line-height: 1.75rem;
}

.secondary-button:hover{
    background-color: inherit;
    color: var(--eucaplyptus);
}

/* Add circle enumeration */
.circle{
    height: 48px;
    width: 48px;
    border: 1px solid var(--dark-purple);
    border-radius: 50%;

}

.underline{
    text-decoration: underline;
    text-decoration-color: var(--eucaplyptus);
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}